.fab-container {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    outline: none;
    border: 1px solid #3B3B58;
    border-radius: 200px;
}

.fab-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-icon-holder:hover {
    opacity: 0.8;
}

.fab {
    width: 60px;
    height: 60px;
    background: transparent;
}

.fab-options {
    list-style-type: none;
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;

    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 0% center;
}

.fab:hover + .fab-options, .fab-options:hover {
    opacity: 1;
    transform: scale(1);
}

.fab-options li {
    padding: 5px;
}

.fab-label {
    padding: 2px 5px;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    background: #666666;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    margin-right: 10px;
}

