body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --curve: cubic-bezier(0.22, 1, 0.36, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  transition: all var(--transition-time-fast) var(--timing-f);
  filter: none;
}

body.ReactModal__Body--open {
  overflow-y: hidden;
}

body.ReactModal__Body--open > #root {
  filter: blur(2px);
}

body.ReactModal__Body--before-close > #root {
  filter: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

.slideIn{
  animation: slideIn 0.5s var(--curve) 0s 1 normal backwards;
}
.slideOut{
  animation: slideOut 0.5s var(--curve) 0s 1 normal forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
